@import "../scss/variables.scss";

@mixin mp-null {
  margin: 0;
  padding: 0;
}

@mixin main-box-centered {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@mixin text-font-large {
  font-family: $font-family;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

@mixin text-font-normal {
  font-family: $font-family;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@mixin text-info {
  font-family: $font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  display: block;
  min-height: 34px;
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin use-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
